import os

import dj_database_url


SECRET_KEY = 'django secret key'


DEBUG = False


# DB settings
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}


# Email settings
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_HOST_USER = 'some email'
EMAIL_HOST_PASSWORD = 'password from email'
EMAIL_PORT = 587
EMAIL_USE_TLS = True


# Other settings
MAX_ACTIVE_SEARCHES_PER_USER = 3
VIBER_AUTH_TOKEN = 'viber token'
SUPERUSER_VIBER_ID = 'viber id for superuser'
CELERY_BROKER = 'amqp://'
