{% extends 'base.html' %}
{% block content %}
    <table style="border-collapse: separate; padding: 5px; width: 100%; text-align: center;">
        <tr>
            <td class="w-25">Результат</td>
            <td class="w-25">Станция отправления</td>
            <td class="w-25">Станция назначения</td>
            <td>Дата отправления</td>
            <td>Тип<br>места</td>
            <td>Кол-во<br>мест</td>
        </tr>
        {% for search in search_list %}
            <tr>
                {% if search.is_actual %}
                    <td class="bg-success text-white">В работе</td>
                {% else %}
                    <td class="text-left">
                        {% for result in search.results.all %}
                        <p>Поезд {{ result.train }}</p>
                        <p>Дата отправления {{ result.date_from|time:"d.n.Y H:i" }}</p>
                        <p>Дата прибытия {{ result.date_till }}</p>
                        <p>Вагон №{{ result.carriage }}</p>
                        <p>Места: {{ result.coaches }}</p>
                        {% endfor %}
                    </td>
                {% endif %}
                <td>{{ search.station_from }}</td>
                <td>{{ search.station_till }}</td>
                <td>{{ search.date_dep }}</td>
                <td>{{ search.coach_type }}</td>
                <td>{{ search.amount_of_coaches }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}