{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mazda{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav collapse navbar-collapse">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'search:list' %}">Запросы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'search:add' %}">Добавить запрос</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav collapse navbar-collapse justify-content-end">
                {% if user.is_authenticated %}
                    <li class="nav-item navbar-text">
                        <div>Вы вошли как <a href="#">{{ user.get_full_name }}</a></div>
                    </li>
                    <li class="nav-item">
                        <div><a href="{% url 'auth:logout' %}" class="nav-link">Sign Out</a></div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <div><a href="{% url 'auth:login' %}" class="nav-link">Sign In</a></div>
                    </li>
                    <li class="nav-item">
                        <div><a href="{% url 'auth:register' %}" class="nav-link">Sign Up</a></div>
                    </li>
                {% endif %}
            </ul>
    </nav>
{% endblock %}
<div class="col-md-8 offset-md-2">
    {% block content %}{% endblock %}
</div>
<div class="container-fluid">
    {% block list_content %}{% endblock %}
</div>
{% block index %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>