{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <br><h2 class="text-danger">ВНИМАНИЕ. Максимальное число активных слежений - {{ amount_of_searching }}</h2>
    <br><h2>Создание поиска</h2>
    <p>Для всех зарегистрированных пользователь доступна функция поиска поездов.</p>
    <ol>
        <li>
            Перейдите в раздел <a href="{% url 'search:add' %}">добавить запрос</a>;
        </li>
        <li>
            Заполните все поля;
        </li>
        <li>
            При выборе опции "Искать только хорошие" в поике будут участвовать все нижние места
            кроме боковых и крайних(возле туалета и проводника);
        </li>
        <li>
            При выборе опции "Искать только лучшие" в поике будут участвовать все нижние места
            кроме боковых и крайних, но в результате поиска будет всего указанное Вами "Количество мест"
            наиболее близко расположенных друг относительно друга;
        </li>
        <li>
            Иначе в поиске будут участвовать все места выбранного Вами "Типа места";
        </li>
        <li>
            Нажмите кнопку "Начать слежение";
        </li>
    </ol><br>
    <h2>Получение результатов поиска</h2>
    <p>Существует 3 возможных способа получения результатов слежения:</p>
    <ol>
        <li>Вы всегда можете посмотреть статус выполнения вашего запроса
            в разделе <a href="{% url 'search:list' %}">Запросы</a>;
        </li>
        <li>
            При появлении указанных Вами мест, Вам на email <span class="text-info">{{ user.email }}</span>
            будет выслано письмо c результатами поиска;
        </li>
        <li>
            При подписке Вас на паблик UzTicketsInformer в Viber Вам будет отправленно сообщение с результатми поиска.
            (приглашение в паблик будет высланно на указанный вами номер телефона
            <span class="text-info">{{ user.tel_number }}</span>, если данное
            приглашение не пришло Вам в течении суток после регистрации  - обратитесь в Viber по номеру
            <span class="text-info">+380992486690</span>.
            После подписки на паблик Вам необходимо отправить в чат сообщение с секретным ключем
            "<span class="text-info">{{ user.viber_secret_message }}</span>")
        </li>
    </ol>
{% endblock content %}
