{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_stiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'search_app/add_search.css' %}">
{% endblock %}
{% block content %}
<div class="col-md-4 offset-md-4">
    <h1>{{ action }}</h1>
    <form method="POST" action="" class="mt-5">{% csrf_token %}
        {{ form.as_p }}
        {% if code %}
            <input name="code" value="{{ code }}" hidden>
        {% endif %}
        <input type="submit" class="submit btn btn-success" value="{{ action }}"/>
    </form>
    {% if invites %}
    <h3>Разосланные приглашения</h3>
        {% for invite in invites %}
            <div class="align-text-bottom mt-4">{{ invite.email }}
                <form action="{% url 'auth:invite' %}" method="POST" class="float-right">{% csrf_token %}
                    <input name="invite_id" value="{{ invite.id }}" hidden readonly>
                    <input type="submit" class="text-danger float-right" value="удалить">
                </form>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock content %}